<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SALA DE FILMES</title>
    <link rel="stylesheet" th:href="@{/css/root.css}" />
    <link rel="stylesheet" th:href="@{/css/menu.css}" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/films/forminsert">Cadastrar novo Filme</a></li>
          <li><a href="/films/list">Filmes Cadastrados</a></li>
        </ul>
      </nav>
    </header>
    <main>
    
      <img
        src="https://i.pinimg.com/564x/d8/29/11/d8291178a07f4c60e1ec42956a7f7052.jpg"
        alt="SALA DE FILMES"
      />
    </main>
  </body>
</html>